// SPDX-License-Identifier: GPL-2.0
//
// Copyright 2016 Marek Vasut <marex@denx.de>

/dts-v1/;

#include "imx6sx-trizeps-vii.dtsi"

/ {
	model = "Target Systemelektronik P868";
	compatible = "targetsg,p868", "keithkoep,imx6sx-trizeps-vii",
		     "fsl,imx6sx";

	chosen {
		stdout-path = &uart1;
	};

	gpio-keys {
		compatible = "gpio-keys";
		status = "ok";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_keys>;

		left {
			label = "Key_L";
			gpios = <&gpio4 3 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_L>;
		};

		middle {
			label = "Key_M";
			gpios = <&gpio4 14 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_M>;
		};

		right {
			label = "Key_R";
			gpios = <&gpio7 9 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_R>;
		};

		power {
			label = "Key_Sleep";
			gpios = <&gpio7 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_SUSPEND>;
			wakeup-source;
		};

		arm0 {
			label = "ARM0";
			gpios = <&gpio7 4 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_0>;
			wakeup-source;
		};

		arm1 {
			label = "ARM1";
			gpios = <&gpio7 5 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_1>;
			wakeup-source;
		};

		bt-host-wakeup {
			label = "BT_HOST_WAKEUP";
			gpios = <&gpio4 11 GPIO_ACTIVE_HIGH>;
			linux,code = <BTN_2>;
			wakeup-source;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		user1 {
			label = "p868:red:user";
			gpios = <&gpio1 18 0>;
			linux,state = "off";
		};

		user2 {
			label = "p868:blue:user";
			gpios = <&gpio1 19 0>;
			linux,state = "off";
		};

		user3 {
			label = "p868:green:user";
			gpios = <&gpio1 20 0>;
			default-state = "off";
		};

		buzzer {
			label = "p868:none:buzzer";
			gpios = <&gpio4 27 0>;
			default-state = "off";
		};

		vibra {
			label = "p868:none:vibrator";
			gpios = <&gpio4 24 0>;
			default-state = "off";
		};

		gps {
			label = "p868:none:gps";
			gpios = <&gpio7 6 0>;
			default-state = "off";
		};

		bluetooth-wake {
			label = "p868:none:bluetooth-wake";
			gpios = <&gpio4 10 0>;
			default-state = "on";
		};
	};

	gpio-poweroff {
		compatible = "gpio-poweroff";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_power>;
		gpios = <&gpio4 25 GPIO_ACTIVE_LOW>;
		system-power-controller;
	};

	reg_fixed_3v3: regulator-fixed-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "regulator-fixed-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	display-backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 1000000>;
		pwm-names = "display-backlight";
		brightness-levels = <0 32 64 128 255>;
		default-brightness-level = <4>;
		power-supply = <&reg_fixed_3v3>;
	};

	reg_wlan_en: regulator-wlan-en {
		compatible = "regulator-fixed";
		regulator-name = "wlan-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 7 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <70000>;
		enable-active-high;
	};

	display_spi {
		compatible = "spi-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_panel_spi>;
		gpio-sck = <&gpio5 9 GPIO_ACTIVE_HIGH>;
		gpio-mosi = <&gpio1 16 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio1 17 GPIO_ACTIVE_HIGH>;
		num-chipselects = <1>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		panel: panel@0 {
			compatible = "ortustech,com32h3n89ulc";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_panel>;
			power-supply = <&reg_fixed_3v3>;
			reset-gpios = <&gpio1 21 GPIO_ACTIVE_LOW>;
			reg = <0>;
			spi-max-frequency = <10000000>;

			port {
				panel_in_parallel: endpoint {
					remote-endpoint = <&parallel_out>;
				};
			};
		};
	};
};

&i2c1 {
	battery: sbs-battery@44 {
		compatible = "sbs,sbs-battery";
		reg = <0x44>;
		sbs,i2c-retry-count = <2>;
		sbs,poll-retry-count = <10>;
	};
};

&i2c2 {
	//accel: bno055@28 {
	//	compatible = "bno055";
	//	reg = <0x28>;
	//	status = "disabled";	/* Controlled by userspace code */
	//};

	temp: lm75@4e {
		compatible = "lm75";
		reg = <0x4e>;
	};

	pmic: pmic@32 {
		pmicgpio: rn5t618-gpio {
			compatible = "ricoh,rn5t618-gpio";
			gpio-controller;
			#gpio-cells = <2>;
		};
	};

	rtc: rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};

	wifieeprom: eeprom@55 {
		compatible = "atmel,24c64";
		reg = <0x55>;
	};

	pressure: bme280@76 {
		compatible = "bme280";
		reg = <0x76>;
		vddd-supply = <&reg_fixed_3v3>;
		vdda-supply = <&reg_fixed_3v3>;
	};
};

&iomuxc {
	imx6sx-p868 {
		pinctrl_backlight: backlightgrp {
			fsl,pins = <
				MX6SX_PAD_USB_H_STROBE__PWM1_OUT	0x10b0
			>;
		};

		pinctrl_lcdif1: lcdif1grp {
			fsl,pins = <
				MX6SX_PAD_LCD1_CLK__LCDIF1_CLK 0x4001b0b0
				MX6SX_PAD_LCD1_ENABLE__LCDIF1_ENABLE 0x4001b0b0
				MX6SX_PAD_LCD1_HSYNC__LCDIF1_HSYNC 0x4001b0b0
				MX6SX_PAD_LCD1_VSYNC__LCDIF1_VSYNC 0x4001b0b0
				MX6SX_PAD_LCD1_DATA00__LCDIF1_DATA_0 0x4001b0b0
				MX6SX_PAD_LCD1_DATA01__LCDIF1_DATA_1 0x4001b0b0
				MX6SX_PAD_LCD1_DATA02__LCDIF1_DATA_2 0x4001b0b0
				MX6SX_PAD_LCD1_DATA03__LCDIF1_DATA_3 0x4001b0b0
				MX6SX_PAD_LCD1_DATA04__LCDIF1_DATA_4 0x4001b0b0
				MX6SX_PAD_LCD1_DATA05__LCDIF1_DATA_5 0x4001b0b0
				MX6SX_PAD_LCD1_DATA06__LCDIF1_DATA_6 0x4001b0b0
				MX6SX_PAD_LCD1_DATA07__LCDIF1_DATA_7 0x4001b0b0
				MX6SX_PAD_LCD1_DATA08__LCDIF1_DATA_8 0x4001b0b0
				MX6SX_PAD_LCD1_DATA09__LCDIF1_DATA_9 0x4001b0b0
				MX6SX_PAD_LCD1_DATA10__LCDIF1_DATA_10 0x4001b0b0
				MX6SX_PAD_LCD1_DATA11__LCDIF1_DATA_11 0x4001b0b0
				MX6SX_PAD_LCD1_DATA12__LCDIF1_DATA_12 0x4001b0b0
				MX6SX_PAD_LCD1_DATA13__LCDIF1_DATA_13 0x4001b0b0
				MX6SX_PAD_LCD1_DATA14__LCDIF1_DATA_14 0x4001b0b0
				MX6SX_PAD_LCD1_DATA15__LCDIF1_DATA_15 0x4001b0b0
				MX6SX_PAD_LCD1_DATA16__LCDIF1_DATA_16 0x4001b0b0
				MX6SX_PAD_LCD1_DATA17__LCDIF1_DATA_17 0x4001b0b0
				MX6SX_PAD_LCD1_DATA18__LCDIF1_DATA_18 0x4001b0b0
				MX6SX_PAD_LCD1_DATA19__LCDIF1_DATA_19 0x4001b0b0
				MX6SX_PAD_LCD1_DATA20__LCDIF1_DATA_20 0x4001b0b0
				MX6SX_PAD_LCD1_DATA21__LCDIF1_DATA_21 0x4001b0b0
				MX6SX_PAD_LCD1_DATA22__LCDIF1_DATA_22 0x4001b0b0
				MX6SX_PAD_LCD1_DATA23__LCDIF1_DATA_23 0x4001b0b0
			>;
		};

		pinctrl_leds: ledsgrp {
			fsl,pins = <
				MX6SX_PAD_CSI_DATA04__GPIO1_IO_18	0x10b0
				MX6SX_PAD_CSI_DATA05__GPIO1_IO_19	0x10b0
				MX6SX_PAD_CSI_DATA06__GPIO1_IO_20	0x10b0
				MX6SX_PAD_QSPI1B_DATA0__GPIO4_IO_24	0x10b0
				MX6SX_PAD_QSPI1B_DATA3__GPIO4_IO_27	0x10b0
				MX6SX_PAD_SD3_DATA4__GPIO7_IO_6		0x10b0
			>;
		};

		pinctrl_keys: keysgrp {
			fsl,pins = <
				MX6SX_PAD_NAND_CLE__GPIO4_IO_3		0x10b0
				MX6SX_PAD_NAND_WE_B__GPIO4_IO_14	0x10b0
				MX6SX_PAD_SD3_DATA2__GPIO7_IO_4		0x10b0
				MX6SX_PAD_SD3_DATA3__GPIO7_IO_5		0x10b0
				MX6SX_PAD_SD3_DATA5__GPIO7_IO_7		0x10b0
				MX6SX_PAD_SD3_DATA7__GPIO7_IO_9		0x10b0
			>;
		};

		pinctrl_panel: panelgrp {
			fsl,pins = <
				MX6SX_PAD_CSI_DATA07__GPIO1_IO_21	0x10b0
			>;
		};

		pinctrl_panel_spi: panelspigrp {
			fsl,pins = <
				MX6SX_PAD_CSI_DATA02__GPIO1_IO_16	0x10b0
				MX6SX_PAD_RGMII1_TD3__GPIO5_IO_9	0x10b0
				MX6SX_PAD_CSI_DATA03__GPIO1_IO_17	0x10b0
			>;
		};

		pinctrl_pcie: pciegrp {
			fsl,pins = <
				MX6SX_PAD_NAND_DATA00__GPIO4_IO_4	0xb0b0
				MX6SX_PAD_NAND_DATA01__GPIO4_IO_5	0xb0b0
			>;
		};

		pinctrl_power: powergrp {
			fsl,pins = <
				MX6SX_PAD_QSPI1B_DATA1__GPIO4_IO_25	0x10b0
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX6SX_PAD_SD2_CMD__USDHC2_CMD		0x17059
				MX6SX_PAD_SD2_CLK__USDHC2_CLK		0x10059
				MX6SX_PAD_SD2_DATA0__USDHC2_DATA0	0x17059
				MX6SX_PAD_SD2_DATA1__USDHC2_DATA1	0x17059
				MX6SX_PAD_SD2_DATA2__USDHC2_DATA2	0x17059
				MX6SX_PAD_SD2_DATA3__USDHC2_DATA3	0x17059
				MX6SX_PAD_NAND_WP_B__GPIO4_IO_15	0x10b0
			>;
		};

		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX6SX_PAD_CSI_VSYNC__UART4_CTS_B	0x1b0b1
				MX6SX_PAD_CSI_MCLK__UART4_RX		0x1b0b1
				MX6SX_PAD_CSI_PIXCLK__UART4_TX		0x1b0b1
				MX6SX_PAD_CSI_HSYNC__UART4_RTS_B	0x1b0b1
			>;
		};
	};
};

&lcdif1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif1>;
	status = "okay";

	port {
		parallel_out: endpoint {
			remote-endpoint = <&panel_in_parallel>;
		};
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	reset-gpio = <&gpio4 5 0>;
	fsl,max-link-speed = <1>;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_backlight>;
};

&usdhc1 {
	status = "disabled";	/* Disable the on-SoM WiFi */
};

&usdhc2 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
	cap-power-off-card;
	cap-sdio-irq;
	status = "okay";
	vmmc-supply = <&reg_wlan_en>;

	wlcore: wlcore@2 {
		compatible = "ti,wl1273";
		reg = <2>;
		interrupt-parent = <&gpio4>;
		interrupts = <15 IRQ_TYPE_LEVEL_HIGH>;
		ref-clock-frequency = <26000000>;
	};
};

&usdhc4 {
	non-removable;
	disable-wp;
};

&uart2 {
	status = "disabled";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	uart-has-rtscts;
	status = "okay";
	bluetooth {
		compatible = "ti,wl1273-st";
		enable-gpios = <&gpio4 8 0>;
	};
};

&reg_pcie {
	vin-supply = <&reg_fixed_3v3>;
};

&usbotg1 {
	over-current-active-high;
};

&usbotg2 {
	over-current-active-high;
};

