/*
 * Copyright 2016 Kai Ruhnau <kai.ruhnau@target-sg.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of
 *     the License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public
 *     License along with this file; if not, write to the Free
 *     Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston,
 *     MA 02110-1301 USA
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 *
 */

/dts-v1/;

#include "imx6dl-trizeps-vii.dtsi"
#include <dt-bindings/leds/leds-pca955x.h>

/ {
	model = "TargetSG U100";
	compatible = "targetsg,u100", "keithkoep,imx6dl-trizeps-vii", "fsl,imx6dl";

	chosen {
		stdout-path = &uart2;
	};

	keys {
		compatible = "gpio-keys";
		status = "ok";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_keys>;

		left {
			label = "Key L";
			gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_L>;
		};
		right {
			label = "Key R";
			gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_R>;
		};
	};
};

&i2c1 {
	status = "okay";
	temp: temp@4E {
		compatible = "national,lm75";
		reg = <0x4E>;
		status = "okay";
	};
	accel: accel@1C {
		compatible = "fsl,mma8452";
		reg = <0x1C>;
		status = "okay";
	};
};
&i2c2 {
	rtc: rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		status = "okay";
	};
	ssd1306: ssd1306@3C {
		compatible = "solomon,ssd1306fb-i2c";
		reg = <0x3C>;
		status = "okay";
		solomon,height = <32>;
		solomon,width = <128>;
		solomon,com-invdir = <1>;
		solomon,page-offset = <0>;
		reset-gpios = <&gpio4 14 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_solomon>;
	};
	ledsleft: pca9553@62 {
		compatible = "nxp,pca9553";
		reg = < 0x62 >;
		#address-cells = <1>;
		#size-cells = <0>;

		led@0 {
			label = "left-red";
			reg = <0>;
			type = <PCA955X_TYPE_LED>;
		};
		led@1 {
			label = "left-green";
			reg = <1>;
			type = <PCA955X_TYPE_LED>;
		};
		led@2 {
			label = "left-blue";
			reg = <2>;
			type = <PCA955X_TYPE_LED>;
		};
		led@3 {
			reg = <3>;
			type = <PCA955X_TYPE_NONE>;
		};
	};
	ledsright: pca9553@63 {
		compatible = "nxp,pca9553";
		reg = < 0x63 >;
		#address-cells = <1>;
		#size-cells = <0>;

		led@0 {
			label = "right-red";
			reg = <0>;
			type = <PCA955X_TYPE_LED>;
		};
		led@1 {
			label = "right-green";
			reg = <1>;
			type = <PCA955X_TYPE_LED>;
		};
		led@2 {
			label = "right-blue";
			reg = <2>;
			type = <PCA955X_TYPE_LED>;
		};
		led@3 {
			reg = <3>;
			type = <PCA955X_TYPE_NONE>;
		};
	};
};

&fec {
	pinctrl-0 = <&pinctrl_enet_4_rgmii>;
	phy-mode = "rgmii";
	status = "okay";
};

&pcie {
	status = "okay";
	reset-gpio = <&gpio3 13 0>;
	wake-up-gpio = <&gpio6 7 0>;
};

&iomuxc {
	u100 {
		pinctrl_keys: gpio_keysgrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_7__GPIO1_IO07	0x80000000
				MX6QDL_PAD_GPIO_8__GPIO1_IO08	0x80000000
			>;
		};
		pinctrl_solomon: solomon {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL4__GPIO4_IO14 0x80000000
			>;
		};
	};
};
