/*
 * Copyright 2016 Marek Vasut <marex@denx.de>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of
 *     the License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public
 *     License along with this file; if not, write to the Free
 *     Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston,
 *     MA 02110-1301 USA
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 *
 */

/dts-v1/;

#include "imx6sx-trizeps-vii.dtsi"

/ {
	model = "TargetSG F500";
	compatible = "targetsg,f500", "keithkoep,imx6sx-trizeps-vii", "fsl,imx6sx";

	chosen {
		stdout-path = &uart1;
	};

	keys {
		compatible = "gpio-keys";
		status = "ok";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_keys>;

		left {
			label = "Key_L";
			gpios = <&gpio4 3 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_L>;
		};

		middle {
			label = "Key_M";
			gpios = <&gpio4 14 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_M>;
		};

		right {
			label = "Key_R";
			gpios = <&gpio7 9 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_R>;
		};

		power {
			label = "Key_P";
			gpios = <&gpio7 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_P>;
		};

	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		user1 {
			label = "f500:red:user";
			gpios = <&gpio1 18 0>;
			linux,state = "off";
		};

		user2 {
			label = "f500:blue:user";
			gpios = <&gpio1 19 0>;
			linux,state = "off";
		};

		user3 {
			label = "f500:green:user";
			gpios = <&gpio1 20 0>;
			default-state = "off";
		};

		buzzer {
			label = "f500:none:buzzer";
			gpios = <&gpio4 27 0>;
			default-state = "off";
		};

		vibra {
			label = "f500:none:vibrator";
			gpios = <&gpio4 24 0>;
			default-state = "off";
		};
	};

	gpio-poweroff {
		compatible = "gpio-poweroff";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_power>;
		gpios = <&gpio4 25 GPIO_ACTIVE_LOW>;
		system-power-controller;
	};

	panel: panel {
		compatible = "ortustech,com43h4m85ulc", "simple-panel";
		power-supply = <&display_regulator>;

		port {
			panel_in_parallel: endpoint {
				remote-endpoint = <&parallel_out>;
			};
		};
	};

	display_regulator: display-regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "display-regulator-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	display-backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 1000000>;
		pwm-names = "display-backlight";
		brightness-levels = <0 32 64 128 255>;
		default-brightness-level = <4>;

	};
};

&i2c1 {
	battery: sbs-battery@44 {
		compatible = "sbs,sbs-battery";
		reg = <0x44>;
		sbs,i2c-retry-count = <2>;
		sbs,poll-retry-count = <10>;
	};
};

&i2c2 {
	24c02@51 {
		compatible = "microchip,24c02", "at24";
		reg = <0x51>;
		/* This EEPROM is assembly-time option of the SoM */
		status = "disabled";
	};

	accel: bno055@28 {
		compatible = "bno055";
		reg = <0x28>;
		status = "disabled";	/* Controlled by userspace code */
	};

	temp: lm75@4e {
		compatible = "lm75";
		reg = <0x4e>;
	};

	rtc: rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};

	pressure: bme280@76 {
		compatible = "bme280";
		reg = <0x76>;
	};
};

&iomuxc {
	imx6sx-f500 {
		pinctrl_backlight: backlightgrp {
			fsl,pins = <
				MX6SX_PAD_USB_H_STROBE__PWM1_OUT	0x10b0
			>;
		};

		pinctrl_lcdif1: lcdif1grp {
			fsl,pins = <
				MX6SX_PAD_LCD1_CLK__LCDIF1_CLK		0x4001b0b0
				MX6SX_PAD_LCD1_ENABLE__LCDIF1_ENABLE	0x4001b0b0
				MX6SX_PAD_LCD1_HSYNC__LCDIF1_HSYNC	0x4001b0b0
				MX6SX_PAD_LCD1_VSYNC__LCDIF1_VSYNC	0x4001b0b0
				MX6SX_PAD_LCD1_DATA00__LCDIF1_DATA_0	0x4001b0b0
				MX6SX_PAD_LCD1_DATA01__LCDIF1_DATA_1	0x4001b0b0
				MX6SX_PAD_LCD1_DATA02__LCDIF1_DATA_2	0x4001b0b0
				MX6SX_PAD_LCD1_DATA03__LCDIF1_DATA_3	0x4001b0b0
				MX6SX_PAD_LCD1_DATA04__LCDIF1_DATA_4	0x4001b0b0
				MX6SX_PAD_LCD1_DATA05__LCDIF1_DATA_5	0x4001b0b0
				MX6SX_PAD_LCD1_DATA06__LCDIF1_DATA_6	0x4001b0b0
				MX6SX_PAD_LCD1_DATA07__LCDIF1_DATA_7	0x4001b0b0
				MX6SX_PAD_LCD1_DATA08__LCDIF1_DATA_8	0x4001b0b0
				MX6SX_PAD_LCD1_DATA09__LCDIF1_DATA_9	0x4001b0b0
				MX6SX_PAD_LCD1_DATA10__LCDIF1_DATA_10	0x4001b0b0
				MX6SX_PAD_LCD1_DATA11__LCDIF1_DATA_11	0x4001b0b0
				MX6SX_PAD_LCD1_DATA12__LCDIF1_DATA_12	0x4001b0b0
				MX6SX_PAD_LCD1_DATA13__LCDIF1_DATA_13	0x4001b0b0
				MX6SX_PAD_LCD1_DATA14__LCDIF1_DATA_14	0x4001b0b0
				MX6SX_PAD_LCD1_DATA15__LCDIF1_DATA_15	0x4001b0b0
				MX6SX_PAD_LCD1_DATA16__LCDIF1_DATA_16	0x4001b0b0
				MX6SX_PAD_LCD1_DATA17__LCDIF1_DATA_17	0x4001b0b0
				MX6SX_PAD_LCD1_DATA18__LCDIF1_DATA_18	0x4001b0b0
				MX6SX_PAD_LCD1_DATA19__LCDIF1_DATA_19	0x4001b0b0
				MX6SX_PAD_LCD1_DATA20__LCDIF1_DATA_20	0x4001b0b0
				MX6SX_PAD_LCD1_DATA21__LCDIF1_DATA_21	0x4001b0b0
				MX6SX_PAD_LCD1_DATA22__LCDIF1_DATA_22	0x4001b0b0
				MX6SX_PAD_LCD1_DATA23__LCDIF1_DATA_23	0x4001b0b0
			>;
		};

		pinctrl_leds: ledsgrp {
			fsl,pins = <
				MX6SX_PAD_CSI_DATA04__GPIO1_IO_18	0x10b0
				MX6SX_PAD_CSI_DATA05__GPIO1_IO_19	0x10b0
				MX6SX_PAD_CSI_DATA06__GPIO1_IO_20	0x10b0
				MX6SX_PAD_QSPI1B_DATA0__GPIO4_IO_24	0x10b0
				MX6SX_PAD_QSPI1B_DATA3__GPIO4_IO_27	0x10b0
			>;
		};

		pinctrl_keys: keysgrp {
			fsl,pins = <
				MX6SX_PAD_NAND_CLE__GPIO4_IO_3		0x10b0
				MX6SX_PAD_NAND_WE_B__GPIO4_IO_14	0x10b0
				MX6SX_PAD_SD3_DATA7__GPIO7_IO_9		0x10b0
				MX6SX_PAD_SD3_DATA5__GPIO7_IO_7		0x10b0
			>;
		};

		pinctrl_power: powergrp {
			fsl,pins = <
				MX6SX_PAD_QSPI1B_DATA1__GPIO4_IO_25	0x10b0
			>;
		};
	};
};

&lcdif1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif1>;
	status = "okay";

	port {
		parallel_out: endpoint {
			remote-endpoint = <&panel_in_parallel>;
		};
	};
};

&pcie {
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_backlight>;
};

&usdhc1 {
	status = "disabled";	/* Disable the on-SoM WiFi */
};
